
        <footer class="footer">
            <ul>
                <li class="footer-item">
                    <a href="/" class="footer-list">Home</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-list">Features</a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-list">FAQs</a>
                </li>
                <li class="footer-item">
                    <a href="/about" class="footer-list">About</a>
                </li>
            </ul>
            <hr class="footer-hr">
            <p class="">&copy; 2024 ILoc, Inc</p>
        </footer>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>