body {
    background-image: url('../images/lightMode.jpg');
    font-family: Montserrat;
  }

   .product-form{
    margin: 80px auto 30px;
    background-color: #F9F6EE;
    opacity: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.19);
    width: 100%;
    max-width: 450px;
  }

.hide{
    display: none;
}

  .product-heading{
    text-align: center;
    color: black;
    margin-bottom: 40px;
    padding: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: rgb(43, 38, 38);
    font-weight: bold;
    font-size: 18px;
    margin-left: 44px;
  }

 .input-line {
    background: transparent;
    border: none; 
    border-bottom: 2px solid silver;
    outline: none;
    font-size: 15px;
    padding: 5px;
    margin: 5px 0 10px;
    width: 100%;
/*    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent);*/
  }

  .input-line:hover{
    border-color: #787a75;
    transition: 0.7s;
}

.fa-basket-shopping{
    font-size: 24px;
    text-shadow: 0 0 10px #698efb;
    position: absolute;
}



.fa-map-pin{
    position: absolute;
    font-size: 26px;
    text-shadow: 0 0 10px #d32525;
    top: 438px;
    left: 565px;
}

.fa-money-bills{
    font-size: 24px;
    text-shadow: 0 0 10px #00930c;
    position: absolute;
    top: 210px;
    left: 785px;
}

.fa-boxes-packing{
    font-size: 24px;
    text-shadow: 0 0 10px #ddc511;
    position: absolute;
    top: 324px;
    left: 555px;
}



.submit-btn{
    background-color: #4CAF50;
    margin-top: 10px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: ;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  .submit-btn:hover {
    background-color: #2E8B57;
  }

.back-btn{
    width: 50px;
    height: 50px;
    border: none;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    left: 20px;
    top: 20px;
    position: fixed;
}

.back-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

i{
    cursor: pointer;
    font-size: 15px;
    margin: 0 5px;
    color: #5f635b;
}

i:hover{
    transform: scale(1.2);
    color: #323431;
}

i.fa-arrow-left-long:hover{
    transform: none;
    color: #323431;
}

.fa-arrow-left-long{
    font-size: 22px;
    padding-top: 2px;
}

.pname-div{
  width: 40%;
  display: inline-block;
  margin-bottom: 30px;
}

.pprice-div{
  width: 40%;
  display: inline-block;
  margin-left: 70px;
  margin-bottom: 30px;
}

.pquantity-div{
  margin-bottom: 30px;
}

.plocation-div{
/*  display: inline;*/
  margin-bottom: 30px;
}

.ploc{

  width: 25%;
  margin: 0 5px;
}

label.location{
    margin-bottom: 18px;
}

.notification{
      text-align: center;
      font-size: 18px;
      font-weight: 550;
      position: absolute;
      color: #444C38;
      top: 5%; 
      right: -160px;
      height: 50px;
      width: 250px;
      border-radius: 5px;
      padding: 13px 10px 10px 10px;
      background-color: #FAF9F6;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      animation: moveFromRightToLeft 0.7s linear forwards; 
      overflow: hidden;

}


@keyframes moveFromRightToLeft {
      0% {
        transform: translateX(100%); /* Start off the screen to the right */
      }
      100% {
        transform: translateX(-10vw); /* Move off the screen to the left */
      }
}


.sidebar-popup::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 8%;
            background: #00AB66;
            animation: line-animate 2.5s linear ;           
        }

@keyframes line-animate {
    0% {
            right: 10%;
       }

    100% {
            right: 100%;
        }
}        
